@page "/profile"

<PageTitle>User</PageTitle>

<div class="container">

    <div class="card border-0">
        <div class="card-body">
            <h4 class="card-title">Customers</h4>
            <p>
                FirstName:
                <span>
                    @User.Firstname
                </span>
            </p>
            <p>
                LastName:
                <span>
                    @User.Lastname
                </span>
            </p>
            <p>
                Email:
                <span>
                    @User.Email
                </span>
            </p>
        </div>
    </div>
</div>
