@page "/target-apps/edit/{TargetAppId:int}"

<div class="container-fluid mt-5">
    <div class="card w-75 m-auto">
        <div class="card-body">
            <h4 class="card-title mb-3">Edit Target App</h4>
            <FormEditor Model="Model" OnValidSubmit="Submit" />
        </div>
    </div>
</div>

@code {

}
